// colors
$pure-white: #fefefe;
$snow-white: #ffffff;
$pale-pearl-white: #f6f8ff;
$bright-sky-blue: #0079ff;
$deep-cobalt-blue: #1e2a47;
$dark-blue-gray: #141d2f;
$dark-slate-gray: #222731;
$deep-indigo: #4b6a9b;
$soft-gunmetal-gray: #697c9a;
$dark-olive-green: #2b3442;
$fire-engine-red: #f74646;