@import "variables";
@import "themes";

@mixin themeStyles($mode) {
  @each $key, $map in $themes {
    @each $prop, $color in $map {
      @if $prop == $mode {
        --#{$key}: #{$color};
      }
    }
  }
}

@mixin desktopBreakpoint {
  @media (min-width: $desktop-screen-breakpoint) {
    @content;
  }
}

@mixin tabletBreakpoint {
  @media (min-width: $tablet-screen-breakpoint) and (max-width: $desktop-screen-breakpoint) {
    @content;
  }
}

@mixin mobileBreakpoint {
  @media (max-width: $tablet-screen-breakpoint) {
    @content;
  }
}

@mixin breakpoints($keys...) {
  @each $key in $keys {
    @if ($key == mobile) {
      @include mobileBreakpoint {
        @content;
      }
    } @else if ($key == tablet) {
      @include tabletBreakpoint {
        @content;
      }
    } @else if ($key == desktop) {
      @include desktopBreakpoint {
        @content;
      }
    }
  }
}

@mixin typographyHeading($heading) {
  @if ($heading == h1) {
    color: var(--primary-text-color);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    @include breakpoints(desktop, tablet) {
      font-size: 1.625rem;
      line-height: 2.4375rem;
    }
  } @else if ($heading == h3) {
    color: var(--github-link-text-color);
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.1875rem;
    @include breakpoints(desktop, tablet) {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}

@mixin typographyBody() {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.5625rem;

  @include breakpoints(desktop, tablet) {
    font-size: 0.9375rem;
    line-height: 1.5625rem;
  }
}
