@import "./colors";

$themes: (
  primary-bg-color: (
    darkTheme: $dark-blue-gray,
    lightTheme: $pale-pearl-white,
  ),
  secondary-bg-color: (
    darkTheme: $deep-cobalt-blue,
    lightTheme: $pure-white,
  ),
  button-bg-color: (
    darkTheme: $bright-sky-blue,
    lightTheme: $bright-sky-blue,
  ),
  primary-text-color: (
    darkTheme: $snow-white,
    lightTheme: $dark-olive-green,
  ),
  secondary-text-color: (
    darkTheme: $snow-white,
    lightTheme: $deep-indigo,
  ),
  error-text-color: (
    darkTheme: $fire-engine-red,
    lightTheme: $fire-engine-red,
  ),
  text-theme-button-color: (
    darkTheme: $snow-white,
    lightTheme: $soft-gunmetal-gray,
  ),
  text-logo-color: (
    darkTheme: $snow-white,
    lightTheme: $dark-slate-gray,
  ),
  text-search-button-color: (
    darkTheme: $snow-white,
    lightTheme: $snow-white,
  ),
  search-button-bg-color: (
    darkTheme: $bright-sky-blue,
    lightTheme: $bright-sky-blue,
  ),
  search-button-bg-hover-color: (
    darkTheme: $baby-blue,
    lightTheme: $baby-blue,
  ),
);
