.dotPulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--loading-dots-color);
  color: var(--loading-dots-color);
  box-shadow: 9999px 0 0 -5px;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;

  &::before,
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--loading-dots-color);
    color: var(--loading-dots-color);
  }

  &::before {
    box-shadow: 9978px 0 0 -5px;
    animation: dotPulse-before 1.5s infinite linear;
    animation-delay: 0s;
  }
  &::after {
    box-shadow: 10014px 0 0 -5px;
    animation: dotPulse-after 1.5s infinite linear;
    animation-delay: 0.5s;
  }
}

@keyframes dotPulse-before {
  0% {
    box-shadow: 9978px 0 0 -5px;
  }
  30% {
    box-shadow: 9978px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9978px 0 0 -5px;
  }
}
@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%,
100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dotPulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px;
  }
}
