@import "../../../styles/mixins";

.container {
  display: flex;
  padding: 0.875rem 1.125rem;

  width: 100%;

  background-color: var(--primary-bg-color);
  margin-top: 1.4375rem;

  border-radius: 0.625rem;
  @include breakpoints(desktop, tablet) {
    margin-top: 2rem;
  }
  @include desktopBreakpoint {
    max-width: 30rem;
    margin-left: 9.625rem;
  }
  .statContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    h2 {
      font-weight: 400;
      font-size: 0.6875rem;
      line-height: 1rem;
      text-align: center;
      color: var(--primary-text-color);

      @include breakpoints(desktop, tablet) {
        font-size: 0.8125rem;
        line-height: 1.1875rem;
      }
    }
    p {
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: center;
      color: var(--primary-text-color);

      @include breakpoints(desktop, tablet) {
        font-size: 1.375rem;
        line-height: 2.0313rem;
      }
    }
  }
}
